
<!DOCTYPE html>
<html lang="it">

<head>
    <title>Dashboard Amministratore</title>
    <link rel="stylesheet" href="/css/styles.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header>
        <a href="/"><img src="/images/logo.png" alt="Gestione Stabilimenti Logo" class="logo"></a>
        <h1>Gestione Stabilimenti</h1>
        <nav>
            <ul>
                <li th:if="${#authentication.name != 'anonymousUser'}">
                    <a th:href="@{/logout}">Logout</a>
                </li>
                <li th:unless="${#authentication.name != 'anonymousUser'}">
                    <a th:href="@{/login}">Login</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="intro">
			<div class="container mt-5">
			    <h1 class="text-center mb-4">Benvenuto, Amministratore!</h1>
			    <p class="text-center mb-4">Da questa dashboard puoi gestire gli stabilimenti e gli utenti.</p>
			
			    <div class="row">
			        <div class="col-md-6 mb-4">
			            <div class="card shadow-sm border-light">
			                <div class="card-body">
			                    <h5 class="card-title">Gestione Stabilimenti</h5>
			                    <p class="card-text">Visualizza e gestisci tutti gli stabilimenti registrati sulla piattaforma.</p>
			                    <a href="/stabilimenti" class="btn btn-primary">Vai a Stabilimenti</a>
			                </div>
			            </div>
			        </div>
			
			        <div class="col-md-6 mb-4">
			            <div class="card shadow-sm border-light">
			                <div class="card-body">
			                    <h5 class="card-title">Gestione Utenti</h5>
			                    <p class="card-text">Visualizza e gestisci gli utenti registrati sulla piattaforma.</p>
			                    <a th:href="@{/admin/formNewProprietario}" class="btn btn-secondary">Crea Nuovo Proprietario</a>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>

        </section>
    </main>

    <footer>
        <p>&COPY; 2024 Gestione Prenotazioni Stabilimenti. Tutti i diritti riservati.</p>
    </footer>
</body>

</html>