<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <header>
        <a href="/"><img src="/images/logo.png" alt="Federazione Sportiva Logo" class="logo"></a>
        <h1>Federazione Sportiva</h1>
        <nav>
            <ul>
                <li th:if="${#authentication.name != 'anonymousUser'}">
                    <a th:href="@{/logout}">Logout</a>
                </li>
                <li th:unless="${#authentication.name != 'anonymousUser'}">
                    <a th:href="@{/login}">Login</a>
                </li>
            </ul>
        </nav>
    </header>

    <h1>Login</h1>
    <form th:action="@{/login}" method="POST">
        <div>
            <span>Username:</span>
            <span><input name="username" type="text" required /></span>
        </div>
        <div>
            <span>Password:</span>
            <span><input name="password" type="password" required /></span>
        </div>
        <div>
            <span th:if="${param.error != null}">Username o password errati</span>
        </div>
        <div class = "button-container">
            <span><button type="submit">Login</button></span>
			<span><a th:href="@{/register}" class="button-link">Registrati</a></span>
		</div>
    </form>



</body>
</html>
