<!DOCTYPE html>
<html>

<head>
    <title>Elenco Prenotazioni</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <header>
        <a href="/"><img src="/images/logo.png" alt="Gestione Prenotazioni Logo" class="logo"></a>
        <h1>Gestione Prenotazioni</h1>
        <nav>
            <ul>
                <li th:if="${#authentication.name != 'anonymousUser'}">
                    <a th:href="@{/logout}">Logout</a>
                </li>
                <li th:unless="${#authentication.name != 'anonymousUser'}">
                    <a th:href="@{/login}">Login</a>
                </li>
            </ul>
        </nav>
    </header>

    <h2>Elenco Prenotazioni</h2>
    <table>
        <thead>
            <tr>
                <th>Data Prenotazione</th>
                <th>Numero Ombrelloni</th>
                <th>Numero Lettini</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prenotazione : ${prenotazioni}">
                <td th:text="${prenotazione.data}">Data</td>
                <td th:text="${prenotazione.numeroOmbrelloni}">Numero Ombrelloni</td>
                <td th:text="${prenotazione.numeroLettini}">Numero Lettini</td>
                <td>
                    <a th:href="@{'/prenotazione/' + ${prenotazione.id}}">Dettagli</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
